@using EFQMWeb.Common.Util;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/js/jquery-1.9.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery-ui-1.10.2.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/api-framework.js")?@MyConfig.GetSetting("LinkedFilesVesion")" type="text/javascript"></script>
    @Html.Partial("JavascriptInjection")
@if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }
    
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>Poslovna izvrsnost</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Moji podaci", "Index", "Home")</li>
                    <li>@Html.ActionLink("Poslovna Izvrsnost", "Index", "Izvrsnost")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
    @Html.Partial("SharedElements")
</body>
</html>
