
@model EFQMWeb.Models.UpitnikGraf
@using System.Data;
@using EFQMWeb.Common.Util;
@{ #pragma warning disable }
@if (false)
{
    <script src="~/content/js/jquery-1.5.1.js" type="text/javascript"></script>

    <script src="~/content/js/modernizr-1.7.min.js" type="text/javascript"></script>
    <script src="~/content/js/api-framework.js" type="text/javascript"></script>

}
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script language="javascript" type="text/javascript">
        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        function drawChart() {

            var gWidth = $("#visualization").width() *0.8;
            gWidth = (gWidth < 1024) ? 1014 : gWidth;
            var gHeight = gWidth * 0.75;
            gHeight = (gHeight > 900) ? 900 : gHeight;

            // Create and populate the data table.
            var data = google.visualization.arrayToDataTable([
                ['Ukupni rezultat', 'Najbolja praksa', 'Prosjek', 'Vaš upitnik'],
                ['Vodstvo', @Model.BP[0], @Model.AV[0], @Model.QR[0]],
                ['Poslovna politika i strategija', @Model.BP[1], @Model.AV[1], @Model.QR[1]],
                ['Zaposlenici', @Model.BP[2], @Model.AV[2], @Model.QR[2]],
                ['Partnerstvo i resursi', @Model.BP[3], @Model.AV[3], @Model.QR[3]],
                ['Procesi', @Model.BP[4], @Model.AV[4], @Model.QR[4]],
                ['Rezultati klijenata', @Model.BP[5], @Model.AV[5], @Model.QR[5]],
                ['Rezultati zaposlenika', @Model.BP[6], @Model.AV[6], @Model.QR[6]],
                ['Rezultati društva', @Model.BP[7], @Model.AV[7], @Model.QR[7]],
                ['Ključni rezultati izvršenja', @Model.BP[8], @Model.AV[8], @Model.QR[8]]
              ]);

            var view = new google.visualization.DataView(data);
                view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2,
                       { calc: "stringify",
                         sourceColumn: 2,
                         type: "string",
                         role: "annotation" },
                         3,
                         { calc: "stringify",
                         sourceColumn: 3,
                         type: "string",
                         role: "annotation" }]);

            // Create and draw the visualization.
            new google.visualization.ColumnChart(document.getElementById('visualization')).
              draw(view,
                   { title: "@Model.Naziv",
                       width: gWidth, height: gHeight
                   }
              );

        }
    </script>
}
<h2>Vaša poslovna izvrsnost</h2>

<div id="visualization"></div>